.header{
    background-image: none;
    padding-top: 30px;
}
.header__menu-link{
    color: #545454;
}
.header__brand-title{
    color: #545454;
}
.header__top{
    margin-bottom: 30px;
}
.header__brand-subtitle{
    color: #292929;
}
.header__menu-item:nth-child(2) .header__menu-link::after{
    content: '';
    border-bottom: solid #F1CDB3 3px;
    display: block;
    transform: scaleX(1);
    transition: all .25s linear;
}
.pets__body{
    flex-direction: column;
}
.pets {
    padding-bottom: 100px;
}
.pets__card{
    border-radius: 12px;
}
.pets__image img{
    width: 270px;
    height: 270px;
}
.pets__cards{
    max-width: 1200px;
}
.pets__arrows{
    display: flex;
    width: 340px;
    justify-content: space-between;
}
.pets__pagination{
    width:52px;
    height:52px;
    background: #F1CDB3;
    border-radius: 50%;
    text-align: center;
    line-height: 52px;
    color: rgb(41, 41, 41);
    font-size: 20px;
}
.pets__arrow-begin{
    transform: scaleX(-100%);
}
.pets__arrow{
    position: relative;
}
.pets__arrow img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
}